@model Core_MVC.Models.JF_ThongTinLienHe

<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row">
            <div class="mouse">
                <a href="#top" class="mouse-icon">
                    <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                </a>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">@Model.tencongty</h2>
                    <p>@Model.slogan</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="javascript:void(0)"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="javascript:void(0)"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="javascript:void(0)"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Liên hệ</h2>
                    <div class="d-flex">
                        <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                            <li><i class="fa fa-phone-square" aria-hidden="true"></i><span class="text">@Model.dienthoai</span></li>
                            <li><i class="fa fa-fax" aria-hidden="true"></i><span class="text">@Model.fax</span></li>
                            <li><i class="fa fa fa-envelope" aria-hidden="true"></i><span class="text">@Model.email</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Thông tin shop</h2>
                    <div class="d-flex">
                        <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <span class="text">@Model.diachi</span></li>
                            <li><i class="fa fa-university" aria-hidden="true"></i> <span class="text">@Model.taikhoannganhang</span></li>
                            <li><i class="fa fa-building" aria-hidden="true"></i> <span class="text">@Model.taikhoanbuudien</span></li>
                        </ul>
                    </div>
                    @*<div class="block-23 mb-3">
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <span class="text">@Model.diachi</span></li>
                            <li><i class="fa fa-university" aria-hidden="true"></i> <span class="text">@Model.taikhoannganhang</span></li>
                            <li><i class="fa fa-building" aria-hidden="true"></i> <span class="text">@Model.taikhoanbuudien</span></li>
                        </ul>
                    </div>*@
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>